{% load static %}


<!doctype html>
<html lang="en">
  <head>
  	<title>Bienvenido</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="{% static 'css/logincss.css' %}">


	</head>
	<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Bienvenido {{ user.username }}</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-5">
					<div class="login-wrap p-4 p-md-5">
		      	<div class="icon d-flex align-items-center justify-content-center">
		      		<span class="fa fa-user-o"></span>
		      	</div>

{% block contend %}

        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            <strong>Alerta:</strong> {{ message }}.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}

        <div class="row">
            <div class="col-lg-12">
                <form id="contactForm" action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="label-control" for="Titulo">Titulo</label></br>
                        {{ forms.Titulo }}

                    </div>
                    <div class="form-group">
                        <label class="label-control" for="Descripción">Descripcion</label></br>
                        {{ forms.Descripción }}
                    </div>
                    <div class="form-group">
                        <label class="label-control" for="Tags">Tags</label></br>
                        {{ forms.Tags }}
                    </div>
                     <div class="form-group">
                         <label class="label-control" for="Foto">Url FOTO</label></br>
                        {{ forms.Foto }}

                    </div>
                    <div class="form-group">
                        <label class="label-control" for="URL_GIT">Url Repositorio</label></br>
                        {{ forms.URL_GIT }}

                    </div>

                         <div class="form-group d-md-flex">
	            	<div class="w-50">
								</div>
								<div class="w-50 text-md-right">
									<a href="{% url 'salir' %}">Cerrar Sesion</a>
								</div>
	            </div>




                    <div class="form-group">
                        <button type="submit" class="btn btn-primary rounded submit p-3 px-5">Crear proyecto</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}